.bottom {
    text-align: center;
}
.bottom__img {
    margin-bottom: 2rem;
}
.bottom__item .text {
    position: relative;
    display: inline-block;
    border-bottom: .1rem solid var(--main-text-color);
}
.bottom__item .text::before {
    position: absolute;
    display: block;
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../img/check.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: -3.5rem;
}
@media screen and (min-width: 1024px) {
    .bottom__block {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .bottom__img {
        margin: 0;
        margin-left: 3rem;
    }
}