.info__wrapper {
    background-image: url('../img/img5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info {
    text-align: center;
}
@media screen and (min-width: 1024px)  {
    .info__list {
        display: flex;
        justify-content: center;
    }
    .info__img {
        height: 30rem;
        object-fit: cover;
    }
}


