:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --main-text-color: #0f1012;
    --sub-text-color: #fff;
    --accent-color: red;
    --first-brand-color: #c1867b;
    --second-brand-color: #9ab5c1;
    --third-brand-color: #ebedc8;
    --title-font: 'Ace Sans';
    --main-font: 'Dosis';
    
    font-size: 62.5%;
}